# Ignore Python virtual environments
venv/
.env/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# VSCode settings (optional)
.vscode/

# macOS + Windows junk
.DS_Store
Thumbs.db

# Environment variables / secrets
.env.local

# Logs
*.log

# Testing Scripts
.testing

# Runs
runs/

# Ignore PyTorch model checkpoints
*.pth
*.ckpt