# Ignore Python virtual environments
venv_*/
.env/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# VSCode settings (optional)
.vscode/

# macOS + Windows junk
.DS_Store
Thumbs.db

# Environment variables / secrets
.env.local

# Logs
*.log

# Testing Scripts
.testing

# Runs
runs/

# Ignore PyTorch model checkpoints
*.pth
*.ckpt

# Ignore extra data analysis scripts
data_analysis_scripts/*

# Ignore overall requirements page (is only temporary / for reference)
requirements_overall.txt